{% extends 'base.html' %}
{% load static %}
{% block title %}
&nbsp;|&nbsp;{{user.username}}
{% endblock %}
{% block content %}

<p class="midle-font-45">Хвосты</p>


<section class="main flex row-to-col user-profile ravnomerno">

<aside class="text-left-to-center flex column ravnomerno" style="height: 80%;max-height: 500px;">
<ul class="without-padding-left">
<li class="bold"><a href="/users/{{user.id}}/{{user.username}}" style="color:#998383;">Мой кабинет</a></li>
<p></p>
<li class="bold"><a href="/users/{{user.id}}/{{user.username}}/akt_sverki" style="color:#998383;">Акт сверки</a></li>

</ul>
{% if user.is_authenticated %}
<a href="/users/logout" class="btn"><img src="{%static "/icons/key-red-hor.png" %}" class="key">выйти</a>
{%else%}
НИЧЕГО
{% endif %}	
</aside>

<form class="forma flex column ravnomerno text-right-to-center" action="." method="post">
{{ hvosty_forma.start_date }}
{{ hvosty_forma.end_date }}

{% csrf_token %}
<p class="center"> 
<input type="submit" class="buttons-all"  value="Отправить">
</p>
</form>

</section>

{% endblock %}

