{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>"Бухгалтерские советы"{% block title %}{% endblock %}</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
<meta name="robots" content="index, follow" /> 
<meta name="robots" content="noyaca"/>
<meta name="robots" content="noodp"/>
<meta name="keywords" content="buhsov@gmail.com, buhsov.com, buhsov com, buhsov, Бухгалтерские советы, бухгалтерия, аутсорс, аутсорсинг бухгалтерских услуг, бухгалтер, финансы, Беларусь, аутсорсинговая бухгалтерия в минске, Минск"/>
<meta name="description" content="Аутсорсинг бухгалтерских услуг в Беларуси"/>
<meta property="business:contact_data:email" content="buhsov@gmail.com"/>
<meta property="business:contact_data:phone_number" content="+375333516975"/>
<meta property="business:contact_data:website" content="http://buhsov.com/"/>
<meta property="og:title" content="Бухгалтерские советы" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://winorbite.com/" />
<meta property="og:image" content="/media/s-logo.png"/>
<link rel="shortcut icon" href="/media/favicon.ico">
<link rel="stylesheet" href="{% static "/css/style.css" %}">
<script src="{% static "/JS/script.js" %}"></script>
<script src="https://api-maps.yandex.ru/2.1/?lang=tr_TR" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>

<body class="center"> 
<header>


<nav class="full-width">

<span class="mob-show" id="top-menu">показать</span>

<ul class="flex hiden-top-menu margin-top: 15px;" id="top-menu-list">
<li>
<a href="/">
<img src="{%static "/icons/logo-busy-150px.png" %}" alt="background" title="background" class="mob-hide">
<span class="mob-show">главная</span>
</a>
</li>

<li><a href="#">контакты</a></li>

<li>
{% if user.is_authenticated %}
<a href="/users/{{user.id}}/{{user.first_name}}">
<span >мой кабинет</span>
</a>
{% else %}
<a href="/users/login"><img src="static/media/icons/key-red.png"  class="key">Войти</a> 
{% endif %}	
</li>
<li>
    
</li class="mob-show">
{% if user.is_authenticated %}
<a href="/users/logout" class="bold">выйти</a>
{%else%}
{% endif %} 
</li>
</ul>
</nav>



</header>



<section class="main flex column vertical-content-center">
{% block content %}{% endblock %}	
</section>

<footer class="full-width  center grey-back flex  horizontal-content-center">
<section class="central-block center">

<!--nav class="full-width">
<ul class="flex">
<li>главная</li>
<li>цены</li>
<li>контакты</li>
</ul>
 </nav>

<img src="static/media/icons/1.png"  alt="Бухгалтерские советы" title="Бухгалтерские советы"-->
<section>юр. адрес:  г. Минск, пер. Козлова, 7/г,  каб.501, номер в реестре - 190530248</section>
</section>
</footer>
<script type="text/javascript">


function toggle_elem(elem_name) {
    $(elem_name).toggleClass("show-hide-main");
}

$(document).ready(function(){

    $("#control-elem").click(function(){
        $("#nalog-form").toggleClass("show-hide-element");
    });


    $("#pp").click(function(){
        toggle_elem("#pp-list")
    });


    $("#naklad").click(function(){
        toggle_elem("#naklad-list");
    });


    $("#tn-and-acts").click(function(){
        toggle_elem("#tn-and-acts-list");
    });


    $("#my-debts").click(function(){
        toggle_elem("#my-debts-list");
    });


    $("#they-debts").click(function(){
        toggle_elem("#they-debts-list");
    });


    $("#doc-menu").click(function(){
        toggle_elem("#doc-list");
    });


    $("#ops").click(function(){
        toggle_elem("#ops-list");
    });


    $("#hvosty").click(function(){
        toggle_elem("#hvosty-list");
    });


    $("#top-menu").click(function(){
        $("#top-menu-list").toggleClass("show-top-menu");
    });
});


</script>

</body>
</html>
