{% extends 'base.html' %}
{% load static %}
{% block title %}
Главная
{% endblock %}
{% block content %}
<header id="header">

  <article class="logo-title">
    <!--img class="logotype" src="{% static "/logo2.png" %}">
    <a href="/"><img class="company-name" src="{% static "/name.png" %}"></a-->
    <h1>
      <a href=""> Бухгалтерские советы</a>
    </h1>
  </article>

 <section class="wrapper box">
  <nav id ="ul-hide">
    <ul>
      <li id="home">
       <a href="/">Главная</a>
      </li>
      <li>
       <a href="#cont">Контакты</a>
      </li>
      <li>
       <a href="#serv">Услуги</a>
      </li>
      <li>
       <a href="#about">О нас</a>
      </li>
      <li>
       <a href="#form">Связь</a>
      </li>
    </ul>
  </nav>
 </section>
</header>  


<!--a  class="top-butt" id="scrollup">наверх</a-->
<!--ABOUT BLOCK-->
<article class="sect" id="about">
   <h1>Кто мы:</h1>
    <article class="descript">    
      Бухгалтерская компания сдесятилетним опытом работы на рынке. Обслужаем более 30 самых разных клиентов, работающих с нами долгосрочной   договорной основе. Работаем во всех сферах бизнеса - от розничной тороговли и общепита - до строительства и IT-стартапов. 
      У нас огромный опыт налоговых проерок, а каждый клиент защищен страховым полисом ,на случай любых неприятностей.
    </article>
</article>


<article class="sect" id="serv">

  <h2>Наши услуги:</h2>

  <article class="box">
    <p class="title top">Ведение бизнеса</p>
    <article class="descript bottom" style="display: none;">
      <ul>
       <li>Консультация</li>
       <li>Бухгалтерское обслуживание</li>
       <li>Выбор системы налогообложения</li>
       <li>Налоговое планирование</li>
       <li>Автоматизация бухгалтерского учета</li>
       <li>Составление деклараций</li>
       <li>Кадровое администрирование</li>
       <li>Аутсорсинг участков бухгалтерского учета</li>
      </ul>
    </article>
  </article> 


  <article class="box">
    <p class="title top">Открытие бизнеса:</p> 
      <article class="descript bottom" style="display: none;">
       <ul>
        <li>Оценка эффективности бизнесидеи</li>
        <li>Разработка бизнес-плана</li>
        <li>Помощь в выборе банка</li>
        <li>Помощь в выборе юр.адреса</li>
        <li>Составление документов для регистрации</li>
        <li>Сопровождение регистрации</li>
        <li>Управление предприятием</li>
       </ul>
    </article>
  </article> 

</article>

<!--PRICE BLOCK -->
<!--article class="sect" id="price">
  <h2>Наши цены</h2>
  

    {% for price in prices %}
    <article class="box" name="top">
      <p class="title top" onclick="myFunction()">{{price.priceName}}</p>
      <article class="descript bottom" style="display: none;" >{{price.priceDescription}}</article>
    </article>
    {% endfor %}
</article-->


<!--CONTACT BLOCK-->
<article class="sect" id="cont">
  <h2>Контакты:</h2>  
    <ul>
      {% for contact in contacts %}
        <li> 
        <img src="{{contact.contactIcon}}">
        <span>{{contact.contactDesc}}</span>
        </li>  
      {% endfor %}
    </ul>
</article>

<article class="sect box">
  <h2>Как до нас добраться:</h2>
    <p class="title top">Открыть карту</p>
      <article class="bottom" id="mapa" style="display: none";>
        <h3>г.Минск, переулок Козлова, 7</h3>
          <table  class = "weather">
            <tr>
              <td>за окном сейчас:</td> 
              <td>{{temp}}</td>
              <td>{{desc}}</td>
              <td> <img src="{{icon}}"></td>
            </tr>
          </table>
           <article id="map" style="padding: 0% 15%; height: 400px">
           </article>
      </article> 
</article>

<!--CONTACT FORM-->
<article class="sect box">
  <p class="title top">Связаться с нами:</p>
    <article class="order-form bottom" id="form" style="display: none";>
        <form  action="." method="post">
          {{ form.as_p }}
          {% csrf_token %}
          <p> 
           <input type="submit" class="buttons-all"  value="Отправить">
          </p>
        </form>
    </article>
 </article> 
{% endblock %}
