<html>
<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<title>"Бухгалтерские советы"{% block title %}{% endblock %}</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

<title>script_test</title>
</head>

<body>
<a href='#'>link1</a>
<a href='#'>link2</a>
<a href='#'>link3</a>
<div> div for link 1</div>
<div> div for link 2</div>



</body>
<script type="text/javascript">

$('a').click(function(e) {
    e.preventDefault();
    $('div').eq($(this).index()).show();
    $('div').not($('div').eq($(this).index())).hide();
});
</script>
</html>