{% extends 'base.html' %}
{% load static %}
{% block title %}
{%if client.name %}| {{client.name}}{% else %} Клиент{% endif %}
{% endblock %}
{% block content %}
<a href="/cmr">к списку клиентов</a>

<ul>
<li>{{client.icon}}</li>
<li>{{client.name}}</li>
<li>{{organization_type}}</li>
<li>{{client.nalog_system}}</li>
<li>{{client.unp}}</li>
<li>{{client.bank_BIK}}</li>
<li>{{client.bank_schet}}</li>
<li>{{client.phone}}</li>
<li>{{client.skype}}</li>
<li>{{client.email}}</li>
</ul>



{% endblock %}
