{% extends 'base.html' %}
{% load static %}
{% block title %}
&nbsp;|&nbsp;Контакты
{% endblock %}
{% block content %}
Вы можете связаться с нами любым удобным для вас способом:

<script type="text/javascript">
ymaps.ready(init);
var myMap, myPlacemark;

function init(){ 
    myMap = new ymaps.Map("map", {
        center: [55.76, 37.64],
        zoom: 7
    }); 
            
    myPlacemark = new ymaps.Placemark([55.76, 37.64], {
        hintContent: 'Москва!',
        balloonContent: 'Столица России'
    });
            
    myMap.geoObjects.add(myPlacemark);
}
</script>
<section class="contacts-main">
	
	<section class="contacts-info-chanels">
		<article><img src="/static/icons/phone_icon.png"><span>685-12-92</span>  </article>
		<article><img src="/static/icons/mobile_phone_icon.png"><span>+375 44 749 01 87</span> </article>
		<article><img src="/static/icons/skype-icon.png"><span>Bigegorich</span> </article>
		<article><img src="/static/icons/orange-mail.png"><span>bux@.</span> </article>
	</section>



<section class="map">
	    <div id="map" style="width: 600px; height: 400px"></div>
</section>

</section>
{% endblock %}

