{% extends 'base.html' %}
{% load static %}
{% block title %}
&nbsp;|&nbsp;Контакты
{% endblock %}
{% block content %}

<script type="text/javascript">
ymaps.ready(init);
var myMap, myPlacemark;

function init(){ 
    myMap = new ymaps.Map("map", {
        center: [53.896294, 27.599957],
        zoom:11
    }); 
            
    myPlacemark = new ymaps.Placemark([53.896294, 27.599957], {
        hintContent: 'Наш офис',
        balloonContent: 'Приходите!'
    });
            
    myMap.geoObjects.add(myPlacemark);
}
</script>
<section class="contacts-main">
<h1>Вы можете связаться с нами любым удобным для вас способом:</h1>
	
	<section class="contacts-info-chanels">
		<article><img src="/static/icons/phone_icon.png"><span>+375 17 299-05-02</span>  </article>
		<article><img src="/static/icons/mobile_phone_icon.png"><span>+375 44 749 01 87</span> </article>
		<article><img src="/static/icons/skype-icon.png"><span>Bigegorich</span> </article>
		<article><img src="/static/icons/orange-mail.png"><span>bux@dilogos.ru</span> </article>
	</section>



<section class="map">
	    <div id="map"></div>
</section>

</section>
{% endblock %}

