{% extends 'base.html' %}
{% load static %}
{% block title %}
"Бухгалтерские советы"
{% endblock %}
{% block content %}
  <article class="logo-title">
    <h1>
      <a href=""> Бухгалтерские советы</a>
    </h1>
    <h3>Аутсорсинг бухгалтерских услуг</h3>
  </article>

  <nav class="navigation">
    <ul>
      <li>
       <a href="#cont">Контакты</a>
      </li>
      <li>
       <a href="#serv">Услуги</a>
      </li>
      <li>
       <a href="#about">О нас</a>
      </li>
      <li>
       <a href="#form">Связь</a>
      </li>
    </ul>
  </nav>


<!--ABOUT BLOCK-->
<article class="head-sect" id="about">
  <h2>Кто мы:</h2>
{{about}}
  <h2>Почему мы:</h2>
{{why_we}}
  <h3>гарантии</h3>
{{our_garanty}}
      
</article>


<section class="sect" id="serv">

  <h2>Наши услуги:</h2>

  <article class="box">
    <p class="titul top">Ведение бизнеса</p>
    <article class="descript bottom" style="display: none;">
      <ul>
       <li class="section-list">Консультация</li>
       <li class="section-list">Бухгалтерское обслуживание</li>
       <li class="section-list">Выбор системы налогообложения</li>
       <li class="section-list">Налоговое планирование</li>
       <li class="section-list">Автоматизация бухгалтерского учета</li>
       <li class="section-list">Составление деклараций</li> 
       <li class="section-list">Кадровое администрирование</li>
       <li class="section-list">Аутсорсинг участков бухгалтерского учета</li>
      </ul>
    </article>
  </article> 


  <article class="box">
    <p class="titul top">Открытие бизнеса:</p> 
      <article class="descript bottom" style="display: none;">
       <ul>
        <li class="section-list">Оценка эффективности бизнесидеи</li>
        <li class="section-list">Разработка бизнес-плана</li>
        <li class="section-list">Помощь в выборе банка</li>
        <li class="section-list">Помощь в выборе юр.адреса</li>
        <li class="section-list">Составление документов для регистрации</li>
        <li class="section-list">Сопровождение регистрации</li>
        <li class="section-list">Управление предприятием</li>
       </ul>
    </article>
  </article> 

</section>


<article class="sect box">
  <h2>Связаться с нами</h2>

  можно так:
  <article class="sect box">

  <p class="titul top">Наши контакты:</p>
    <article class="our-contacts  bottom" style="display: none";>
        <ul>
      {% for contact in contacts %}
        <li> 
        <img src="{{contact.contactIcon}}">
        <span>{{contact.contactDesc}}</span>
        </li>  
      {% endfor %}
    </ul>
    </article>

 можно оставить заявкуи мысами свяжемся
    <article class="sect box">
  <p class="titul top">Оставить заявку:</p>
    <article class="order-form bottom" id="form" style="display: none";>
        <form  action="." method="post">
          {{ form.as_p }}
          {% csrf_token %}
          <p> 
           <input type="submit" class="buttons-all"  value="Отправить">
          </p>
        </form>
    </article>
 </article> 

   
   Наш офис здесь:
    <p class="titul top">Открыть карту</p>
      <article class="bottom" id="mapa" style="display: none";>
        <h3>г.Минск, переулок Козлова, 7</h3>
          <table  class = "weather">
            <tr>
              <td>за окном сейчас:</td> 
              <td>{{temp}}</td>
              <td>{{desc}}</td>
              <td> <img src="{{icon}}"></td>
            </tr>
          </table>
           <article id="map" style="padding: 0% 5%; height: 400px">
           </article>
      </article> 
</article>

<!--CONTACT FORM-->

 </article> 

{% endblock %}
