{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="central-block center normal-font-24">
<span class="great-font">Вы делаете бизнес, мы берем на себе рутину</span>

<article>
<img src="{%static "/icons/monitor.png" "%}"  alt="Бухгалтерские советы" title="Бухгалтерские советы">
</article>

<p>
Наши специалисты ведут бухгалтерский учет, 
обслуживают расчётный счёт, консультируют, помогают с прохождением проверок и выполняют ваши поручения. 
А вы занимаетесь бизнесом и приглядываете за Кнопкой через удобное приложение.
</p>
</section>


<section class="full-width center grey-back grey-back-contact column flex">
<section class="central-block center"> 
У вас есть вопросы или вы хотите хотите подключиться?
Отправьте запрос и мы обязательно свяжемся с вами!
<form class="forma flex horizontal-content-center">
<!--Я согласен с условиями передачи информации-->
<form  action="." method="post" >
{{ form.as_p }}
{% csrf_token %}

<p> 
<input type="submit" class="button-orange-border pointer center"  value="Отправить">
</p>
</form>
</form>
Звоните на +_________________________ или пишите в <a>телеграм</a>
Расскажем всё о наших услугах, посчитаем стоимость, проконсультируем, подключим. 
</section>
</section>

<section  class="central-block center">
<span class="big-font"> Умный аутсорсинг</span>
<p class ="normal-font-24">
В Кнопке на вас работает команда удалённых сотрудников.
Они знают ваш бизнес, берут инициативу на себя и помогают вести дела, а в случае проверок отстаиваем ваши интересы и разрешаем возникающие вопросы.
</p>
</section>



<section class="central-block center normal-font-20 how-it-work-list"> 
<span  class="big-font">Как это работает?</span>
<ul class="flex">    
<li>

<article>
<img src="{%static "/icons/red-men.png" "%}"  alt="Бухгалтерские советы" title="Бухгалтерские советы">

</article>

<p>
Команда "Бухгалтерских советов" обслуживает вас удалённо
</p>

</li> 

<li>
<article>
<img src="{%static "/icons/aqua-pen.png" "%}"  alt="Бухгалтерские советы" title="Бухгалтерские советы">
</article>
<p>
Ставить задачи, следить за бухгалтерией и задавать вопросы можно через приложение
</p>

</li> 

<li>
<article>
<img src="{%static "/icons/phone.png" "%}"  alt="Бухгалтерские советы" title="Бухгалтерские советы">
</article>
<p>
А можно в почте или по телефону
</p>

</li> 

<li>
<article>
<img src="{%static "/icons/3.png" "%}"  alt="Бухгалтерские советы" title="Бухгалтерские советы">
</article>
<p>
Бухгалтеры Кнопки ведут учёт в 1С, но дружат и с облачными сервисами
</p>

</li> 

<li>
<article>
<img src="{%static "/icons/circle.png" "%}"  alt="Бухгалтерские советы" title="Бухгалтерские советы">
</article>
<p>
Создавать счета и акты можно в приложении, а можно поручить это бухгалтеру
</p>
</li> 

<li>
<article>
<img src="{%static "/icons/blue-doc2.png" "%}"  alt="Бухгалтерские советы" title="Бухгалтерские советы">
</article>
<p>
Чтобы вести учёт, бухгалтеру нужны документы. Пришлите сканы или позовите нашего курьера
</p>
</li> 
</ul>
</p>

</section>


<section class="full-width center flex  horizontal-content-center" style="background-color: #5D67AE;">
<section  class="central-block center" >
<section class="colored-paragraph text-left">
<span class="midle-font-45">Берём бухгалтерию
на себя</span>
<p  class="normal-font-20  colored-paragraph-text text-left"  >
Наши специалисты обладют более чем десятилетним опытом ведения бизнеса.
Они заботятся о том, чтобы вы не платили лишних
денег, а у налоговой не было лишних вопросов.

Чтобы вы не отвлекались от важных дел, мы сами соберём первичные документы. Подскажем,
как лучше трудоустроить сотрудника, уменьшим налоги и вовремя отчитаемся перед государством.

</p>
</section>
</section>
<article class="vertical-content-center  flex">
<img src="{%static "/icons/account.png" "%}"  alt="Бухгалтерские советы" title="Бухгалтерские советы">
</article>
</section>



<section class="full-width center flex  horizontal-content-center" style="background-color: #F7A416;">
<article class="vertical-content-center  flex">
<img src="{%static "/icons/greydoc.png" "%}"  alt="Бухгалтерские советы" title="Бухгалтерские советы">
</article>
<section  class="central-block center">
<section class="colored-paragraph right">

<span  class="big-font right text-right">Собираем, оформляем
и храним первичку
</span>
<p class="normal-font-20   colored-paragraph-text  text-left right" >
Кнопка обслуживает клиентов удалённо. Это не значит, что вам придётся заниматься первичкой самостоятельно. Поручите нам работу с документами.
Оформить отпуск, премирование, составить договор, оформить акт? Мы сделаем это за вас. 

Работаем с системой электронного документооборота и помогаем избавиться от бумажной рутины.</p>
</section>
</section>
</section>



<section class="full-width center flex  horizontal-content-center" style="background-color: #01B5D8;">

<section  class="central-block center">
<section class="colored-paragraph text-left">
<span  class="midle-font-45">Поможем на старте</span>
<p class="normal-font-20  colored-paragraph-text text-left">
Собираетесь открыть свое дело?
Проконсультируем по выбору оптимальной формы собственности и системы налогооблажения, поможем избежать возможных подводных камней.
Решили открыть торговую точку? Поможем с поиском помещения и изучим договор аренды.
Запускаете интернет-магазин? Поможем с выбором платформы, регистрацией и настройкой платежных систем.
</p>
</section>
</section>
<article class="vertical-content-center  flex">
<img src="{%static "/icons/5.png" "%}"  alt="Бухгалтерские советы" title="Бухгалтерские советы">
</article>
</section>


<section class="central-block center">
<span  class="big-font">Наши клиенты —
компании из самых разных отраслей:</span>

<section class="list-block left-list flex">

<ul>
Услуги
<li>Консультанты,</li>
 <li>реклама,</li> 
 <li>грузоперевозки,</li> 
 <li>брокеры,</li> 
 <li>тренинги,</li> 
 <li>ивент-агентства</li>
</ul>

<ul>
IT
<li>Веб-разработчики,</li> 
<li>разработчики мобильных приложений,</li> 
<li>хостинг,</li> 
<li>SEO-студии</li>
</ul>


<ul>
Торговля
<li>Розница, мелкооптовые компании и крупный опт.</li> 
<li> Торговля с Европой, Китаем и Таможенным союзом</li> 
</ul>

<ul>
Общепит
<li>Кафе,</li>  
<li>рестораны,</li>  
<li>бары,</li>  
<li>фастфуд-заведения</li>  
<li>стрит-фуды и пит-стопы</li> 
</ul>

<ul>
Строительство
<li>Архитектурные бюро,</li>  
<li>монтажные и ремонтные работы,</li>  
<li>инжиниринг
</ul>

<ul>
Производство
<li>Строительная техника,</li>
<li>электроника и микросхемы,</li>
<li>Косметика,</li>  
<li>еда,</li>  
<li>крафтовые товары,</li>  
<li>мебель,</li>  
<li>одежда и аксессуары</li> 
</ul>
</p>
</section>
</section>


<section  class="central-block center normal-font-21">
<section class="down-description text-left">

<span class="middle-font-35">"Бухгалтерские советы" — бухгалтерские услуги
в Минске и областях</span>
<p>
Мы обслуживаем предпринимателей по всей Беларуси. Наши клиенты — компании из разных сфер, большие и маленькие, ИП и ООО на любой системе налогообложения. 
</p>
<h3>Только профессиональные бухгалтеры</h3>
<p>
Бухгалтерский учёт, отчётность и налоги — сложная дисциплина. Хороший бухгалтер должен иметь большой опыт, аналитический ум и повышенное внимание к деталям. Мы выбираем лучших кандидатов, которые получили высшее образование, успели поработать в профессии не меньше пяти лет и прошли через налоговые проверки.

"Бухгалтерские советы" - компания с огромным опытом работы. Мы более двенадцати лет на рынке и за плечами наших бухгалтеров работа с самыми разными клиентами и сотни самых разных проверок. 

<h3>Нам доверяют самые сложные задачи</h3>
</p>
<p>
Наша компания решает для вас саме сложные бизнес-задачи. Например, международные сделки: мы с уверенностью проходим валютный и таможенный контроль и помогаем составить документы на иностранном языке. А если вы открыли интернет-магазин и не хотите разбираться с эквайрингом, мы сделаем это за вас.
</p>

<p>
Мы не просто предоставляет профессиональные бухгалтерские услуги. Мы избавляем предпринимателей от рутины и помогаем развивать бизнес. Мы хотим, чтобы вы занимались любимым делом, не отвлекаясь на бюрократию и скучные задачи. А ещё мы очень не любим, когда бухгалтеры мучают людей профессиональным сленгом и перекладывают свои задачи на предпринимателей.
</p>
<p>
Поэтому мы нанимаем бухгалтеров, с которыми приятно и легко общаться. Они объяснят сложные вещи простым языком, а не ссылками на налоговый кодекс. Общаться  можно через приложение в телефоне или браузере а можно и через скайп, вайбер, телграм или телефон. Это удобно и мобильно, а вся важная информация всегда хранится под рукой.
</p>

</section>
</section>


<section class="full-width center center grey-back grey-back-contact column flex">
<section class="central-block center"> 
У вас есть вопросы или вы хотите хотите подключиться?
Отправьте запрос и мы обязательно свяжемся с вами!
<form class="forma flex horizontal-content-center">
<!--Я согласен с условиями передачи информации-->
<form  action="." method="post" >
{{ form.as_p }}
{% csrf_token %}

<p> 
<input type="submit" class="button-orange-border pointer center"  value="Отправить">
</p>
</form>
</form>
Звоните на +_________________________ или пишите в <a>телеграм</a>
Расскажем всё о наших услугах, посчитаем стоимость, проконсультируем, подключим. 
</section>
</section>

{% endblock %}
