@font-face {
  font-family: Pepsy cyr-lat;
  src: url(fonts/10100.otf) format("opentype");
}

@font-face {
  font-family: a;
  src: url(fonts/10076.ttf) format("truetype");
}

}

@font-face {
  font-family: h;
  src: url(fonts/10175.otf) format("opentype");
}



@font-face {
  font-family: y;
  src: url(fonts/9938.otf) format("opentype");
}

