
@media screen and (max-width: 1080px) {



.user-profile-main{flex-direction: column;}
.user-profile-main-menu{width:100%;}
.user-profile-main-info{width:100%; }
.user-profile-main-info-column{width: 100%;}





.invisible-300 img{margin: 0px 20px;}
.mob-show{display: block;}
.hiden-top-menu{display: none}
.show-top-menu{display: flex; flex-direction: column;}
.mob-hide{display: none;}

#top-menu img{width: 120px;}
nav ul{padding: 0px;}
nav ul li{padding-top: 36px;}
nav ul li a{font-size: 52px;}

.central-block{width: 770px; padding-top: 76px; padding-bottom: 76px;}
.central-block,.colored-paragraph-text,.down-description p,.central-block p,.forma input,.user-profile ul li{font-size: 36px;}
.central-block ul li p{font-size: 32px;}
.colored-paragraph-text{width: 90%;}
.user-profile ul li{padding-top: 20px;}


.main-scren-data{width: 48%;}
.main-scren-data  p{font-size: 24px; color: red;}
.main-scren-data  ul li{font-size: 22px;}

.list-block ul{width: 185px; font-weight: bold; font-size: 31px}

.list-block ul li {font-size: 26px;}

.how-it-work-list ul li{width: 300px; margin: 30px; }
.how-it-work-list ul li img {width: 120px;}


}

@media screen and (max-width: 720px) {
.user-profile{width: 100%;}

.side-paddings-20{padding: 0% 5%;}


.side-menu ul li{list-style-type: square; margin-left: 20px;}

.nav ul li {margin-top: 15px;}

.main-scren-data{width: 100%; margin-bottom: 100px }

.text-left-to-center,.text-right-to-center{text-align: center;}

.row-to-col{flex-direction: column;}
.column-720{display: flex; flex-direction: column;}	

.central-block{width: 95%; padding-top: 76px; padding-bottom: 76px;}
.invisible-300{visibility: collapse;}

img{max-width: 100%;}
.colored-paragraph-text{width: 95%; margin:0px;}
.colored-paragraph{margin: 0px;}

.how-it-work-list ul li {width: 100%;margin-left: 0px;margin-top: 40px;margin-bottom: 0px;}

.list-block ul{text-align: center; width: 100%; margin-top: 40px;}
.column-300{flex-direction: column;}
ul{padding: 0px;margin: 0px;}

.text-right-300{text-align: right;}
.text-left-300{text-align: left;}
.center-300{text-align: center;}
.nav ul{flex-direction: column;}
nav ul li{padding-top: 15px;}
nav ul li a{font-size: 26px;}
.half-of-table{width: 100%;}

.operations-list{padding: 0%; }

}



@media screen and (max-width: 640px) {

}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 360px) {

}


