



@media screen and (max-width: 1136px) {
.block-colored article {padding: 0px 30px;}
#map{width: 600px;}
.main-plitka{padding: 0px 5%; display: flex; flex-wrap: wrap;}
.main-plitka a{width: 25%; text-align: center;}
.plitka {
width: 100%;
height: 225px;
display: flex;
align-items: center;
justify-content: center;
    margin: 0px;
    padding: 0px;
}

.plitka a{font-size: 34px;}
.client-link{font-size: 36px; text-align: center; width: 30%;}

}

@media screen and (max-width: 1080px) {
.contacts-info-chanels {padding: 0% 15%; width: auto;}

nav ul{padding: 0px;}
nav ul li{padding-top: 36px;}
nav ul li a{font-size: 52px;}

.down-description p, 
.central-block p,
.central-block,
.central-block p{ font-size: 24px;}

.user-profile-head{ font-size: 35px;font-weight: bold; margin-top: 40px;}
.user-profile-head article{ margin-top: 25px;}
.user-profile-main-menu article ul li {padding-top: 20px;}

.user-profile-main{ min-height: 500px; }
.user-profile-main-menu{width:20%; font-size: 16px;font-weight: bold;}
.user-profile-main-info{width:100%; }
.user-profile-main-info-column {padding: 0px;padding: 0% 15%;}
.user-profile-main-info-column h3{font-size: 26px;    font-weight: bold;}
.user-profile-main-info-column article {padding: 50px 0px 10px 0px; font-size: 16px;  }

.forma{flex-direction: column;justify-content: space-around;align-items: center;}
.forma input{margin: 20px 0px;}
.forma-feedback input{padding: 10px 20px; border: solid 1.5px #FD761F; font-size: 21px; border-radius: 40px; text-align: left;}

.contragent-fin-balance{padding-bottom: 10px; }
.itogo{font-size: 17px;}


.contacts-data{display: flex; justify-content: space-between; flex-direction: column;}

.central-block{width: 770px; padding-top: 35px; padding-bottom: 35px;}
.central-block,
.colored-paragraph-text,
.down-description p,
.central-block p,
.forma input,
.user-profile ul li{font-size: 16px;}

.central-block ul li p{font-size: 17px;}
.colored-paragraph-text{width: 90%;}
.user-profile ul li{padding-top: 20px;}

.block-colored article p{font-size: 16px; }
.block-colored article h2{font-size: 19px;}


.docs-ops-info article{padding: 0px;}


.main-scren-data{width: 48%;}
.main-scren-data  p{font-size: 20px; }
.main-scren-data  ul li{font-size: 22px;}

.list-block ul{width: 185px; font-weight: bold; font-size: 25px}
.list-block ul li {font-size: 20px;}

.how-it-work-list ul li{width: 300px; margin: 30px; }
.how-it-work-list ul li img {width: 80px;}

.contacts-info-chanels {font-size: 28px; font-weight: bold; margin: 50px 0px;}
.contacts-info-chanels article {padding: 15px;}
.contacts-main{margin: 100px 0px;}
.contacts-main h1{font-size: 30px;}
.registered-office p{font-size: 14px;}

.forma p{display: flex; flex-direction: column;}
#top-menu img{width: 90px;}
.great-font{ font-size: 28px; color: #2D2D2D;}


#map{width: 100%;}

.invisible-300 img{margin: 0px 20px;}
.mob-show{display: block;}
.hiden-top-menu,.mob-hide{display: none}
.show-top-menu{display: flex; flex-direction: column;}
}


@media screen and (max-width: 940px) {
.user-profile-main{flex-direction: column; min-height: 500px;}
.login{width: 70%;}
}



@media screen and (max-width: 720px) {
.login{width: 80%;}
.client-link {
    font-size: 36px;
    text-align: center;
    width: 50%;
}
input{font-size: 15px;}
img{max-width: 100%;}
ul{padding: 0px;margin: 0px;}
nav ul{flex-direction: column;}
nav ul li{padding-top: 15px;}
nav ul li a{font-size: 22px;}

.invisible-300{visibility: collapse;width: 0px;height: 0px;}
.column-300{flex-direction: column;}

.down-description p, .central-block p,.central-block,.central-block p{ font-size: 14px;}
.down-description p{text-align: left;}

.pitch img {max-width: 300px; }

.block-colored article {padding: 0px 0px;}

.user-profile-main {margin: 50px 0px;}

.main-plitka{padding: 0px 5%; display: flex; flex-wrap: wrap;}
.main-plitka a{width: 25%; text-align: center;}
.plitka {
width: 100%;
height: 225px;
display: flex;
align-items: center;
justify-content: center;
}


.user-profile-main-menu{
width: auto;
padding: 0%;
text-align: center;}

.user-profile-main-menu p{
border: solid 1px #FD761F;
padding: 5px 0px;
border-radius: 20px;
margin: 20px 20%; 
}



.user-profile,
.user-profile-main-info-column,
.half-of-table,
.user-profile-main-menu,
.how-it-work-list ul li,
.central-block-colored,
.text-left,
.text-right,
.main-scren-data,
.list-block ul{width: 100%;}

.user-profile-main-info-column {float: none;padding: 0px;}
.user-profile-head {font-size: 18px;}


.contacts-info-chanels {font-size: 20px;}
.contacts-info-chanels article img {width: 50px;}

.how-it-work-list ul li {margin-left: 0px;margin-top: 40px;margin-bottom: 0px;}
.how-it-work-list ul li img { width: 80px;}
.how-it-work-list ul,.list-block{font-size: 16px;}


.list-block ul,.central-block ul li p{font-size: 19px;}

.central-block p.forma input {font-size: 16px;}

.colored-paragraph-text{width: 95%; margin:0px;}
.colored-paragraph{margin: 0px;}

.text-right,
.text-left,
.text-left-to-center,
.text-right-to-center{text-align: center;}


.side-paddings-20{padding: 0% 5%;}
.side-menu ul li{list-style-type: square; margin-left: 20px;}
.main-scren-data{ margin-bottom: 100px }
.central-block{width: 95%; }
.list-block ul{text-align: center;  margin-top: 40px;}
.big-font {font-size: 22px;}
.operations-list{padding: 0%; }
.middle-font-35 {font-size: 24px;}
.main-info-column article{font-size: 14px;}
#top-menu img {width: 60px;}
#map{height:720px; }

.clients-list{padding: 20px; display: flex; flex-direction: column; justify-content: center;}

}



@media screen and (max-width: 640px) {
#map{height: 640px; }	
.contacts-info-chanels{padding:0px 15px;}
.contacts-info-chanels article img{width: 60px; float: left;}
.contacts-info-chanels article {height: 70px; font-size: 20px; text-align: right;}
}

@media screen and (max-width: 480px) {
#map{height:480px; }
}

@media screen and (max-width: 360px) {

#map{height:360px; }
}


