/*http://html5.by/blog/flexbox/ */

/*Base rules*/

body{color: #2D2D2D; font-family: Verdana, Geneva,sans-serif;}
nav ul{justify-content: space-between; display: flex; flex-direction: row;}
nav{max-width: 1920px; }
nav ul li, a,.pointer{cursor: pointer; }
nav ul li{font-size: 18px; }
ul li, ul, li{list-style-type: none;}
a, li:hover,a:hover{text-decoration: none;}
a,a:visited{color: #2D2D2D;}
/*---------------------FONTS-------------------*/

/*Layout rules*/
.itogo{color: #FD761F;}
footer{background-color: #2F2F2F; color: #fff; display: flex; justify-content: center; text-align: center; width: 100%}
.great-font,.big-font,.midle-font-45,.middle-font-35,nav ul li,.bold {font-weight: bold;}
.great-font{font-size: 60px; color: #2D2D2D;}
.big-font{font-size: 48px;}
.midle-font-45{font-size: 45px;}
.middle-font-35{font-size: 35px;}
.normal-font-24{font-size: 24px;}
.normal-font-21{font-size: 21px;}
.normal-font-20{font-size: 20px;}
.font-18{font-size: 18px;}
.font-16{font-size: 16px;}
.font-14{font-size: 14px;}
.font-12{font-size: 12px;}
.grey-font{color: #998383;}


.margin-top-15,
.margin-top-15 ul li,
.margin-top-15 li{margin-top: 15px;}

#map{height: 480px;width: 650px; }

/*---------MODULES RULES------*/
.pitch{text-align: center;}
.pitch img{max-width: 400px; margin: 50px 0px; }

.key{width: 25px; margin: 0px 10px;}
.pp-name-agent{width: 70%; padding-right: 10%;}
.side-menu li{color:#998383;}
.main{height: 100%;}

.central-block{width: 980px; padding-top: 76px; padding-bottom: 76px; text-align: center; font-size: 20px;}
.block-colored{width: 100%; display: flex; align-items: center; justify-content: center; padding: 50px 0px; color: #fff;}
.central-block-colored{width: 980px; display: flex;}
.central-block-colored-img{display: flex; justify-content: space-around;align-items: center;}

.list-block ul{width: 240px; font-weight: bold; font-size: 21px;}
.list-block ul li{font-size: 18px; padding-top: 9px; font-weight: normal;}

.how-it-work-list ul li{width: 240px; margin-left: 40px; margin-top: 40px; margin-bottom: 40px; }
.how-it-work-list ul li img {width: 70px;}

.list-block,
.how-it-work-list ul {flex-wrap: wrap; align-content: space-around;}



.colored-paragraph{ margin: 50px; color: #000;}
.colored-paragraph-text{width: 60%; margin: 25px;}


.grey-back{background-color: #2F2F2F; color: #fff;}
.grey-back-contact{align-items: center;}

.forma{display: flex;justify-content: center;}
.forma p{margin:0px;}

.forma input{
padding: 10px 20px; 
border: solid 1.5px #FD761F; 
font-size: 21px; 
border-radius: 40px; 
text-align: left;
margin: 20px 20px;
}

.contacts-data{display:flex; justify-content: space-between; flex-direction: row; padding: 0px 15px;padding-bottom: 50px;}


.feedback-form{
background-color: #2F2F2F;
color: #fff;
width: 100%;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
}

.feedback-form article{margin: 20px 0px;}

/*USER-PROFILE*/
.user-profile-head{width: 95%;text-align: left;}
.user-profile-head article{display: flex;}

.user-profile-main{width: 95%; display: flex; margin: 100px 0px;}
.user-profile-main-menu{width:20%; text-align: left;}

.user-profile-main-menu article ul{padding: 0px 0px 0px 20px;}
.user-profile-main-menu p{cursor: pointer; font-size: 19px; }
.user-profile-main-menu article ul li {padding-top: 15px; cursor: pointer;}

.user-profile-main-info{width:80%; }
.user-profile-main-info-column{padding-right: 30%; text-align: left; margin-bottom: 50px;}
.user-profile-main-info-column h3{background-color: #FD761F;color: #fff; padding: 10px;}
.user-profile-main-info-column p{font-weight: bold;}
.user-profile-main-info-column article {padding-top:30px; padding-bottom:10px;border-bottom: solid 0.5px #b3a8a8;}
.contragent-fin-balance,.itogo{display: flex;justify-content: space-between;font-weight: bold;}

.docs-ops-info{}
.docs-ops-info article{padding: 0px; display: flex;justify-content: space-between;  border: none;}
.docs-ops-info article span{font-weight: bold;}

.contacts-main h1{text-align: center;    padding-bottom: 100px;}


.contacts-info-chanels{padding:0px; width: 350px;}
.contacts-info-chanels article img{width: 60px; float: left;}
.contacts-info-chanels article {height: 70px; font-size: 20px; text-align: right;}
.contacts-info-chanels{padding-right: 30px;}

.login{width: 50%;}
.login form input{
border: solid 1.5px #FD761F;
border-radius: 40px;
text-align: center;
padding: 10px 0px;
width: 100%;
font-size: 40px;
margin: 20px 0px;
}
.login p{
font-size: 26px;
margin: 0px;
padding:0px;
}

.registered-office{text-align: left;}
.registered-office p{ margin:15px; font-size: 14px;}
/*-----------MODULES RULES END -------------*/




.flex{display: flex;}
.row,.row-to-col{flex-direction: row;}
.column,.col-to-row{flex-direction: column;}

.mob-hide{display: block;}
.mob-show{display: none;}

.left{float: left;}
.right{float: right;}

.text-right,.text-right-to-center{text-align: right;}
.list-block ul,.text-left,.text-left-to-center{text-align: left;}
.center{text-align: center;}



.full-width{width: 100%;}
.user-profile{width: 90%;}
.half,.half-to-full{width: 50%;}

.main-scren-data{width: 42%; }
.twenty-percent-width{width: 20%;}
.eighty-percent-width{width: 80%;}
.fourty-percent-width{width: 45%;}

.vertical-content-center{justify-content: space-around; align-items: center;}
.horizontal-content-center{justify-content: center;}
.ravnomerno{justify-content:space-between;}


.operations-list{padding: 0% 20%; }
.exit-block{margin-top: 600px;}

.without-margin-left{margin-left: 0px;}
.without-padding-left{padding-left: 0px;}

.side-paddings-20{padding: 0% 20%;}
.side-paddings-10{padding: 0% 10%;}


.without-margin{margin: 0px;}
.bottom-5px{margin-bottom: 5px;}
.bottom-15px{margin-bottom: 15px;}
.operations-border-bottom{border-bottom: solid 1.5px #9B999B;}


/*State rules */

.red-text{color: red;}
.green-text{color: green;}
.orange-text{color: #FD761F;}


.hidden-form{
display: none;
}

.show-hide-element{
display: flex;}

.show-hide-main{
display: block;}

.text-left{text-align: left;}
.text-right{text-align: right;}

