{% extends 'base.html' %}
{% load static %}
{% block title %}
|Список клиентов
{% endblock %}


{% block content %} 
<section class="main-plitka">
{% for client in clients %}
  <article class="client-link">
    <a href="{{client.name}}"> <article class="plitka">{{client.name}}</article></a>
  </article>
{% endfor %}
</section>

<!--script type="text/javascript">

var background_colors = ['#4B2A82', '#1E796A',  '#992667', '#1DD300','#2419B2','#FF0000']
var plitki = $('.client-link')
var plitki_names = $('.client-link a .plitka')

for (var i = 0; i <= plitki.length ; i++) {
  plitki[i].style.background = background_colors[i];
}




</script-->

{% endblock %}
