{% extends "base.html" %}
{% load static %}
{% block title %}
|{{ post.name }}
{% endblock %}
{% block content %}

<p><span>Компания:</span><span>{{client_info.name}}</span></p>
<section class="courses-list">
  {%for curr in today_rate%}
  <article>
    <span>{{curr.rate}} руб.</span>
    <span>за {{curr.scale}}</span>
    <span>{{curr.name}}</span>
  </article>
{%endfor%}

</section>


<section class="main-client-profile">


  <aside class="choice-buttons">
	<button id="link-0">Налог за период</button>
	<button id="link-1">Хвосты за период</button>
	<button id="link-2">Сверка с порталом</button>
	<button id="link-3">Статистика по валютным операциям за период</button>

</aside> 

<section class="client-actions">

<section class="office-form-client" id="panel-0" >
  <h3>Получить налог за период:</h3>
	<form method="post" enctype="multipart/form-data" class="forma">

  	  <article class="select-data">
  	  <p>Выбрать начало периода</p>
		{{ tax_form.start_year }}
		{{ tax_form.start_month }}
		{{ tax_form.start_day }}
  	  </article>

  	  <article class="select-data">
	  <p>Выбрать окончание периода</p>

		{{ tax_form.end_year }}
		{{ tax_form.end_month }}
		{{ tax_form.end_day }}
  	  </article>

		{% csrf_token %}
		<input type="submit" class="input-button-client"  name="tax_button"  value="Отправить" style="background-color: #fff;">
	</form>
</section>


<section class="office-form-client" id="panel-1">
  <h3>Получить хвосты на дату:</h3>
	<form method="post" enctype="multipart/form-data" class="forma">

	<article class="select-data">
	  {{ state_form.end_year }}
	  {{ state_form.end_month }}
	  {{ state_form.end_day }}
    </article>

	{% csrf_token %}
	<input type="submit" class="input-button-client"  name="state_button" value="Отправить" style="background-color: #fff;">
	</form>
</section>



<section class="office-form-client" id="panel-2" >
<h3>Сверка с порталом</h3>
	<form method="post" enctype="multipart/form-data" class="forma">


	<span>{{dif_form.uploaded_file}}</span>



  	<article class="select-data">
  	<p>Выбрать начало периода </p>
		{{ dif_form.start_year }}
		{{ dif_form.start_month }}
		{{ dif_form.start_day }}
  	</article>



  	<article class="select-data">
 	 <p>Выбрать окончание периода</p>
		{{ dif_form.end_year }}
		{{ dif_form.end_month }}
		{{ dif_form.end_day }}
 	</article>

    {% csrf_token %}
    <input type="submit" class="input-button-client"  value="Отправить" name="found_dif"  style="background-color: #fff;">
  	</form>
</section>








<section id="panel-3" class="office-form-client">
<p>Статистика</p>
	<form method="post" enctype="multipart/form-data" class="forma">





  	<article class="select-data">
  	<p>Выбрать начало периода </p>
		{{ currency_stat_form.start_year }}
		{{ currency_stat_form.start_month }}
		{{ currency_stat_form.start_day }}
  	</article>



  	<article class="select-data">
 	 <p>Выбрать окончание периода</p>
		{{ currency_stat_form.end_year }}
		{{ currency_stat_form.end_month }}
		{{ currency_stat_form.end_day }}
 	</article>

    <article class="select-data">
   <p>Выбрать окончание периода</p>
    {{ currency_stat_form.data_type }}
  </article>

    {% csrf_token %}
    <input type="submit" value="Отправить"  class="input-button-client"  name="curr_stat"  style="background-color: #fff;">
  	</form>

  	
  </section>

</section>






<script type="text/javascript">
	

(function (window) {
    window.app = {
        items: [0,1,2,3],
        start: function () {
            this.addListeners();
            this.hidePanels();
        },
        hidePanels: function () {
            this.items.forEach(function (item) {
                var elm = document.getElementById('panel-' + item);
                elm.style.display = 'none';
            });
        },
        showPanel: function (id) {
            var elm = document.getElementById('panel-' + id);
            elm.style.display = '';
        },
        addListeners: function () {
            this.items.forEach(function (item) {
                var elm = document.getElementById('link-' + item);
                elm.addEventListener('click', function (event) {
                    this.hidePanels();
                    var id = elm.id.split('-')[1];
                    this.showPanel(id);
                }.bind(this))
            },this);
        }
    };
})(window);
</script>


</section>
{% endblock %}

