{% extends 'base.html' %}
{% load static %}
{% block title %}
&nbsp;|&nbsp;Текущий НДС/УСН
{% endblock %}
{% block content %}
<section class="main flex row-to-col user-profile ravnomerno">

<aside class="text-left-to-center flex column ravnomerno" style="height: 80%;max-height: 500px;">
<ul class="without-padding-left">
<li class="bold"><a href="/users/{{user.id}}/{{user.username}}" style="color:#998383;">Мой кабинет</a></li>
<p></p>
<li class="bold"><a href="/users/{{user.id}}/{{user.username}}/hvosty" style="color:#998383;">Хвосты</a></li>

</ul>
{% if user.is_authenticated %}
<a href="/users/logout" class="btn"><img src="{%static "/icons/key-red-hor.png" %}" class="key">выйти</a>
{%else%}
НИЧЕГО
{% endif %} 
</aside>

<!--УСН\НДС  - из вьюхи. Отцентровать. Шрифт побольше.- Высота блока - на экран -->
<section class="center central-block">
<p class="normal-font-24">
{{tax_system}} сверки за период с {{start_data}}&nbsp;по&nbsp;{{ending_data}} составляет:
<p class="bold middle-font-35">
&nbsp;{{period_fin_states}}&nbsp;руб.
</p>
</p>

</section>  

</section>
{% endblock %}

