{% extends 'base.html' %}
{% load static %}
{% block title %}
&nbsp;|&nbsp;{{user.username}}
{% endblock %}
{% block content %}

<section class="user-profile">
<ul class="normal-font-20 bold left text-left">
<li><span class="grey-font">{{tax_system}}&nbsp;за текущий месяц&nbsp;</span><span>:{{month_fin_states}}&nbsp;руб.</span>
<p></p>
</li>
<li><span class="grey-font">{{tax_system}}&nbsp;за текущий квартал&nbsp;</span><span>:{{square_fin_states}}&nbsp;руб.</span>
<p></p>

</li>    
</ul>    
</section>


<section class="main flex row-to-col horizontal-content-center user-profile"><!--CHANGING -->

<aside class="text-left flex column ravnomerno" style="height: 80%;max-height: 500px;"><!--CHANGING -->
<ul class="without-padding-left">
<li class="bold"><a href="/users/{{user.id}}/{{user.username}}/akt_sverki" style="color:#998383;">Акт сверки</a></li>
<p></p>
<li class="bold"><a href="/users/{{user.id}}/{{user.username}}/hvosty" style="color:#998383;">Хвосты</a></li>
<p></p>
<li class="bold control-elem pointer" style="color:#998383;">{{tax_system}}&nbsp; за период</li>
<p></p>
<li class="bold">платежки</li>
<p></p>
<li class="bold">накладные</li>
<p></p>
<li class="bold">приходка</li>
<p></p>
<li class="bold">мои долги</li>
<p></p>
<li class="bold">мои авансы</li>
</ul>
{% if user.is_authenticated %}
<a href="/users/logout" class="btn"><img src="{%static "/icons/key-red-hor.png" %}" class="key">выйти</a>
{%else%}
НИЧЕГО
{% endif %}	
</aside>

<section class="central-block center "> 
<section class="operations-list block"> 
<form class="forma column ravnomerno text-right-to-center hidden-form" action="." method="post"><!--CHANGE TEXT RIGHT-->
<p>с даты:</p>
{{ fin_states.start_date}}
<p>по дату:</p>
{{ fin_states.end_date}}
{% csrf_token %}
<p class="center"> 
<input type="submit" class="buttons-all"  value="Отправить">
</p>
</form>


{%for proviser_pp in all_pp_providers %}
<ul class="full-width without-padding-left">
	<li>
		<ul  class="operations  horizontal-content-center without-padding-left operations-border-bottom full-width">
			<li class="text-right twenty-percent-width right font-18 red-text">-{{proviser_pp.summ}}&nbsp;.Р</li>
			<li class="text-left eighty-percent-width left bold"> {{proviser_pp.contragent_name}}</li>
			<li class="text-left bottom-15px">{{proviser_pp.document_name}}</li>
			<li class="text-right font-12">{{proviser_pp.date}}</li>
    	</ul>
    </li>
</ul>
{%endfor%}


<div class="pagination">
    <span class="step-links">
        {% if all_pp_providers.has_previous %}
            <a href="?page={{ all_pp_providers.previous_page_number }}"><</a>
        {% endif %}

        <span class="current">
             {{ all_pp_providers.number }} из {{ all_pp_providers.paginator.num_pages }}

        </span>

        {% if all_pp_providers.has_next %}
            <a href="?page={{ all_pp_providers.next_page_number }}">></a>
        {% endif %}
    </span>
</div>



{%for provider_doc in all_providers_docs %}
<ul class="full-width without-padding-left">
    <li>
        <ul  class="operations  horizontal-content-center without-padding-left operations-border-bottom full-width">
            <li class="text-right twenty-percent-width right font-18">{{provider_doc.summ}}&nbsp;.Р</li>
            <li class="text-left eighty-percent-width left bold"> {{provider_doc.contragent_name}}</li>
            <li class="text-left bottom-15px">{{provider_doc.document_name}}</li>
            <li class="text-right font-12">{{provider_doc.date}}</li>
        </ul>
    </li>
</ul>
{%endfor%}


<div class="pagination">
    <span class="step-links">
        {% if all_providers_docs.has_previous %}
            <a href="?page={{ all_providers_docs.previous_page_number }}"><</a>
        {% endif %}

        <span class="current">
             {{ all_providers_docs.number }} из {{ all_providers_docs.paginator.num_pages }}

        </span>

        {% if all_providers_docs.has_next %}
            <a href="?page={{ all_providers_docs.next_page_number }}">></a>
        {% endif %}
    </span>
</div>

{%for buyer_pp in all_pp_buyers %}
<ul class="full-width without-padding-left">
    <li>
        <ul  class="operations  horizontal-content-center without-padding-left operations-border-bottom full-width">
            <li class="text-right twenty-percent-width right font-18 green-text">{{buyer_pp.summ}}&nbsp;.Р</li>
            <li class="text-left eighty-percent-width left bold"> {{buyer_pp.contragent_name}}</li>
            <li class="text-left bottom-15px">{{buyer_pp.document_name}}</li>
            <li class="text-right font-12">{{buyer_pp.date}}</li>
        </ul>
    </li>
</ul>
{%endfor%}


<div class="pagination">
    <span class="step-links">
        {% if all_pp_buyers.has_previous %}
            <a href="?page={{ all_pp_buyers.previous_page_number }}"><</a>
        {% endif %}

        <span class="current">
             {{ all_pp_buyers.number }} из {{ all_pp_buyers.paginator.num_pages }}

        </span>

        {% if all_pp_buyers.has_next %}
            <a href="?page={{ all_pp_buyers.next_page_number }}">></a>
        {% endif %}
    </span>
</div>


{%for buyer_doc in all_buyers_docs %}
<ul class="full-width without-padding-left">
    <li>
        <ul  class="operations  horizontal-content-center without-padding-left operations-border-bottom full-width">
            <li class="text-right twenty-percent-width right font-18">{{buyer_doc.summ}}&nbsp;.Р</li>
            <li class="text-left eighty-percent-width left bold"> {{buyer_doc.contragent_name}}</li>
            <li class="text-left bottom-15px">{{buyer_doc.document_name}}</li>
            <li class="text-right font-12">{{buyer_doc.date}}</li>
        </ul>
    </li>
</ul>
{%endfor%}


<div class="pagination">
    <span class="step-links">
        {% if all_buyers_docs.has_previous %}
            <a href="?page={{ all_buyers_docs.previous_page_number }}"><</a>
        {% endif %}

        <span class="current">
             {{ all_buyers_docs.number }} из {{ all_buyers_docs.paginator.num_pages }}

        </span>

        {% if all_buyers_docs.has_next %}
            <a href="?page={{ all_buyers_docs.next_page_number }}">></a>
        {% endif %}
    </span>
</div>
</section>
</section>






<section class="half-to-full ">
<section class="operations-list">
ДОЛГИ ПОКУПАТЕЛЕЙ (Д62) 
{%for buyer_debt in buyers_debts %}
<ul class="full-width without-padding-left">
<li class="operations-border-bottom full-width flex row ravnomerno bottom-15px">

<span class="bold text-left">{{buyer_debt.name}}</span>

<span class="text-right bottom-15px">{{buyer_debt.summa}}&nbsp;.Р   </span>
<!--span class="text-right bottom-15px">{{buyer_debt.message}}&nbsp;    </span-->

</li>
</ul>
{%endfor%}

АВАНСЫ ПОКУПАТЕЛЕЙ (КР 62 ОПЛАЧЕН0, НЕ ОТГРУЖЕНО)
{%for buyer_prepay in buyers_prepay %}
<ul class="full-width without-padding-left">
<li class="operations-border-bottom full-width flex row ravnomerno bottom-15px">

<span class="bold text-left">{{buyer_prepay.name}}</span>

<span class="text-right bottom-15px">{{buyer_prepay.summa}}&nbsp;.Р </span>
<!--span class="text-right bottom-15px">{{buyer_prepay.message}}&nbsp;  </span-->

</li>
</ul>
{%endfor%}

</section>
</section>

<section class="half-to-full"> 
<section class="operations-list">
АВАНСЫ ПОСТАВЩИКАМ(ДЕБ 60)
{%for prov_debt in providers_debts %}
<ul class="full-width without-padding-left">
<li class="operations-border-bottom full-width flex row ravnomerno bottom-15px">

<span class="bold text-left">{{prov_debt.name}}</span>

<span class="text-right bottom-15px">{{prov_debt.summa}}&nbsp;.Р    </span>
<!--span class="text-right bottom-15px">{{prov_debt.message}}&nbsp;.Р   </span-->

</li>
</ul>
{%endfor%}
ЗАДОЛЖЕННОСТЬ ПЕРЕД ПОСТАВЩИКАМИ(КР 60)
{%for prov_prepay in providers_prepay %}
<ul class="full-width without-padding-left">
<li class="operations-border-bottom full-width flex row ravnomerno bottom-15px">

<span class="bold text-left">{{prov_prepay.name}}</span>

<span class="text-right bottom-15px">{{prov_prepay.summa}}&nbsp;.Р  </span>
<!--span class="text-right bottom-15px">{{prov_prepay.message}}&nbsp;</span-->

</li>
</ul>
{%endfor%}


</section>
</section>






</section>
{% endblock %}

