{% extends 'base.html' %}
{% load static %}
{% block title %}
&nbsp;|&nbsp;{{user.username}}
{% endblock %}
{% block content %}

<!--span class="middle-font-35">
{{user.client.organization_type}}
{{user.client.name}}
</span-->
<!--li class="normal-font-21">СЧЕТ:{{user.client.bank_schet}}</li>
<li class="normal-font-21">УНП:{{user.client.unp}}</li>
<li class="normal-font-21">Банк:{{bank}}
</li-->
<section class="main flex chahnging-direction-row-col horizontal-content-center">
<aside class="changing-text-center-left flex column ravnomerno" style="height: 80%;max-height: 500px;">
<ul class="without-padding-left">
<li class="bold"><a href="/users/{{user.id}}/{{user.username}}/akt_sverki" style="color:#998383;">Акт сверки</a></li>
<p></p>
<li class="bold"><a href="/users/{{user.id}}/{{user.username}}/hvosty" style="color:#998383;">Хвосты</a></li>

</ul>
{% if user.is_authenticated %}
<a href="/users/logout" class="btn"><img src="{%static "/icons/key-red-hor.png" %}" class="key">выйти</a>
{%else%}
НИЧЕГО
{% endif %}	
</aside>

<section class="central-block center"> 
<section class="operations-list "> 
{%for document in all_documents %}
<ul class="full-width without-padding-left">
	<li>
		<ul  class="operations  horizontal-content-center without-padding-left operations-border-bottom full-width">
			<li class="text-right twenty-percent-width right font-18">{{document.summ}}&nbsp;.Р</li>
			<li class="text-left eighty-percent-width left bold"> {{document.contragent_name}}</li>
			<li class="text-left bottom-15px">{{document.document_name}}</li>
			<li class="text-right font-12">{{document.date}}</li>
    	</ul>
    </li>
</ul>
{%endfor%}


<div class="pagination">
    <span class="step-links">
        {% if all_documents.has_previous %}
            <a href="?page={{ all_documents.previous_page_number }}"><</a>
        {% endif %}

        <span class="current">
             {{ all_documents.number }} из {{ all_documents.paginator.num_pages }}

             {%for let in all_documents.paginator.num_pages %}
             {{let}}
             {%endfor%}
        </span>

        {% if all_documents.has_next %}
            <a href="?page={{ all_documents.next_page_number }}">></a>
        {% endif %}
    </span>
</div>

</section>
</section>



</section>
{% endblock %}

