{% extends 'base.html' %}
{% load static %}
{% block title %}
&nbsp;|&nbsp;{{user.username}}
{% endblock %}
{% block content %}

<span class="middle-font-35">
{{user.client.organization_type}}
{{user.client.name}}
</span>

<aside class="text-left">
<ul class="without-padding-left">
<!--li class="normal-font-21">СЧЕТ:{{user.client.bank_schet}}</li>
<li class="normal-font-21">УНП:{{user.client.unp}}</li-->
<li class="normal-font-21">Банк:{{bank}}
</li>
</ul>	
</aside>



<section class="central-block center"> 
<section class="operations-list "> 
{%for s in batani %}
<ul class="full-width without-padding-left">
	<li>
		<ul  class="operations  horizontal-content-center without-padding-left operations-border-bottom full-width">
			<li class="text-right twenty-percent-width right font-18">{{s.summ}}</li>
			<li class="text-left eighty-percent-width left bold"> {{s.name}}</li>
			<li class="text-left bottom-15px">{{s.document_name}}</li>
						<li class="text-left bottom-15px">{{s.contragent_name}}</li>

    	</ul>
    </li>
</ul>
{%endfor%}
</section>
</section>






<section class="central-block center"> 
<section class="operations-list "> 
{%for m in bankai %}
<ul class="full-width without-padding-left">
	<li>
		<ul  class="operations  horizontal-content-center without-padding-left operations-border-bottom full-width">
			<li class="text-right twenty-percent-width right font-18">{{m.unp}}</li>
			<li class="text-left eighty-percent-width left bold"> {{m.name}}</li>
			<li class="text-left bottom-15px">{{m.full_name}}</li>
    	</ul>
    </li>
</ul>
{%endfor%}
</section>
</section>




<section class="central-block center"> 
<section class="operations-list "> 
{%for f in res %}
<ul class="full-width without-padding-left">
	<li>
		<ul  class="operations  horizontal-content-center without-padding-left operations-border-bottom full-width">
			<li class="text-right twenty-percent-width right font-18">{{f.summ}}&nbsp;.Р</li>
			<li class="text-left eighty-percent-width left bold"> {{f.contragent_name}}</li>
			<li class="text-left bottom-15px">{{f.document_name}}</li>
			<li class="text-right font-12">{{f.date}}</li>
    	</ul>
    </li>
</ul>
{%endfor%}
</section>
</section>


{% if user.is_authenticated %}
<a href="/users/logout" class="btn">выйти</a>
{%else%}
НИЧЕГО
{% endif %}

{% endblock %}

